$primary-color: hsl(0, 100%, 70%);
$secondary-color: hsl(195, 100%, 40%);
$success-color: hsl(80, 60%, 50%);
$warning-color: hsl(45, 100%, 60%);
$info-color: hsl(270, 50%, 40%);

$background-color: hsl(0, 2%, 82%);

$breakpoints: (
  desktop: 800px,
);