$form-border-radius: 5px;
.auth{      
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    right: 10%;
    width: toRem(400);


    &__form {
        background-color: $form-background-color;
        border: 1px solid $border-color;
        padding: toRem(16) toRem(32);
        
        &_logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: toRem(18);
            &_img {
                height: 100px;
                width: 200px;
            }
        }

        &_input { 
            width: 90%;
            border-radius: $form-border-radius;
        }

        &_error {
            color: $primary-color;
        }

        &_btn {
            border: 1px solid $primary-color;
            background-color: $primary-color;
            width: 97%;
            color: white;
            padding: toRem(8) toRem(0);
            text-align: center;
            border-radius: $form-border-radius;
        }

    }

    &__handler {
        background-color: $form-background-color;
        border: 1px solid $border-color;
        text-align: center;
        margin-top: toRem(16);
        padding: toRem(24) toRem(16);
        p {
            margin-bottom: 0 !important;
        }
    }
}