.navbar{
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    &__logo {
        height: toRem(40);
        width: toRem(80);
    }

    &__avatar {

        img {
            height: toRem(40);
            width: toRem(40);
            border-radius: toRem(30);
            background-color: #646262;
            margin-right: toRem(10);
        }
    }

    &__search {
        margin: auto;
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        border: 2px lighten($primary-color, 5%) solid;
        border-radius: 10px;
        // z-index: 2;
        svg {
            height: toRem(20);
            width: toRem(20);
            padding: toRem(3) toRem(7);
            fill: lighten($primary-color, 5%);
        }

        input {
            border: none;
            height: toRem(30);
            border-radius: 10px;
            outline: none;
            &:focus-visible{
                outline: none;
            }
            // padding-right: 40px; 
        }

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            width: auto;
            margin-top: toRem(10);
        }
    }
    
    &__links {
        margin-left: toRem(50);
        width: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;    
    }

    &__linkImg {
        transition: fill 0.4s ease;
        &:hover {
            fill: darken($primary-color, 10%);
        }
    }
}