//.createPostPanel {
//  width: 100%;
//  border: 1px solid black;
//
//}
.tabpanel-content {
  width: 300px;
}

.row-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
}

.row-input div {
  border: 1px solid black;
}
