.post{

  margin-left: 30%;
  width: 45rem;
  height: fit-content;
  margin-bottom: 2rem;

  &__body {
    padding: 0;
  }

  &__title {
    padding: toRem(10);
  }

  &__avatar {
      height: toRem(40);
      width: toRem(40);
      border-radius: toRem(30);
      margin-right: toRem(10);
  }

  &__menu {
      height: toRem(40);
      width: toRem(40);
      margin-right: toRem(10);
      float: right;
      margin-left: 10rem;
  }

  &__reacts {
    height: toRem(40);
    width: toRem(40);
    border-radius: toRem(30);
    margin-right: toRem(10);
    margin-left: toRem(10);
    margin-bottom: toRem(10);
    cursor: pointer;
  }

  &__fillreacts {
    height: toRem(40);
    width: toRem(40);
    border-radius: toRem(30);
    margin-right: toRem(10);
    margin-left: toRem(10);
    margin-bottom: toRem(10);
    cursor: pointer;
    fill: lighten($primary-color, 5%);
  }
  &__reactspannel {
  }
  &__image {
    height: toRem(450);
    width: toRem(720);
    padding-bottom: toRem(20);

    img {
      width: toRem(720);
      height: toRem(450);
      object-fit: contain;
    }
  }

  &__text {
    padding: toRem(10);
    margin-bottom: 0;
  }
}